<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440536901732-45qqo0ur2usrcvhbrsqcooi8d8icat6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440536901732-45qqo0ur2usrcvhbrsqcooi8d8icat6r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>440536901732-d9sh911pftlrgfv600tfj94jggpvpe55.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUmYg3M6Kc_LrrqrUPNdbjQi6lkg6c_Bo</string>
	<key>GCM_SENDER_ID</key>
	<string>440536901732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easaccScanDevicesTask</string>
	<key>PROJECT_ID</key>
	<string>test-fdc22</string>
	<key>STORAGE_BUCKET</key>
	<string>test-fdc22.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440536901732:ios:62773d162d43d665a75771</string>
</dict>
</plist>